.ReplyToSee-Hidden {
  display: block;
  width: 100%;
  background-color: @control-bg;
  padding: 10px;
  border-left: 3px solid @primary-color;
  border-radius: @border-radius;
  margin-bottom: 7px;
}

.ReplyToSee-Marked {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  padding: 8px 10px;
  border-left: 3px dashed @muted-color;
  border-radius: @border-radius;
  background-color: @control-bg;
}

.ReplyToSee-Marked-label {
  display: block;
  margin-bottom: 6px;
  color: @muted-color;
  font-size: 12px;
  font-weight: bold;
}

.ReplyToSee-Marked-body {
  display: block;
}