.ReplyToSee-Hidden {
  display: block;
  width: 100%;
  background-color: @control-bg;
  padding: 10px;
  border-left: 3px solid @primary-color;
  border-radius: @border-radius;
  margin-bottom: 7px;
}